/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
node_modules.rar
vendor.rar
node_modules.zip
vendor.zip
/resources/views/epicgames/
/resources/views/presentandcorrect/
/app/Http/Controllers/GameDevelopment.php
/app/Http/Controllers/Controller.php
/app/Http/Controllers/CGCareer.php

